@charset "utf-8";
/* lisoarts.com */
@font-face {
    font-family: 'BebasRegular';
    src: url('../fuentes/BEBAS___-webfont.eot');
    src: url('../fuentes/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/BEBAS___-webfont.woff') format('woff'),
         url('../fuentes/BEBAS___-webfont.ttf') format('truetype'),
         url('../fuentes/BEBAS___-webfont.svg#BebasRegular') format('svg');
}
BODY{
		background:url(../img/bg_500.jpg) repeat;
		margin: 0px 0px 0px 0px;
		text-align:center;
	}	
BODY a{color:#01A79D; font-size:12px; text-decoration:none; font-family:Arial, Helvetica, sans-serif}
BODY a:hover{text-decoration:underline;}
#login{
		background:url(../img/log.png) no-repeat;
		width:745px;
		height:458px;
		margin:auto;
		text-align:center;
	}
.field{
		background:url(../img/field-log.png) no-repeat;
		width:337px;
		height:91px;
		margin:auto;
	}
.field input{background:none;border:none;height:58px;font-size:16px;color:#333333}
.field input:focus{outline:none;}
.boton1{background:url(../img/boton1.png) no-repeat;border:none;font-family:'BebasRegular';font-size:22px;width:111px;height:48px;color:#302101;}
.boton1:hover{cursor:pointer;}